.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 327px;
  height: 535px;
  margin: 20px;
  padding-block: 48px 48px;
  padding-inline: 24px;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  background-color: var(--White);
}

.shadow {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  bottom: 81%;
}

.illustration {
  width: 237px;
  position: absolute;
  z-index: 2;
  bottom: 87%;
  left: 50%;
  transform: translate(-50%);
}

.title {
  font-weight: var(--FW-Bold);
  font-size: var(--FS-H1);
  line-height: var(--LH-H1);
  color: var(--VeryDarkDesaturatedBlue);
}

@media screen and (max-height: 667px) {
  .card {
    margin: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 920px;
    height: 509px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'blank  title'
      'blank  accordion';
    padding-block: 65px;
    padding-inline: 95px;
    overflow: hidden;
  }

  .shadow {
    left: initial;
    right: 59%;
    bottom: -24%;
    transform: unset;
  }

  .illustration {
    width: initial;
    left: initial;
    right: 59%;
    bottom: 20%;
    transform: initial;
  }

  .title {
    grid-area: title;
  }
}
