:root {
  /* COLORS */

  /* Primary */

  /*Text*/
  --VeryDarkDesaturatedBlue: hsl(238, 29%, 17%, 1);
  --SoftRed: hsl(14, 88%, 65%, 1);

  /*BG Gradient*/
  --SoftViolet: hsl(273, 75%, 66%);
  --SoftBlue: hsl(240, 73%, 65%);

  /* Neutral */

  /*Text*/
  --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
  --DarkGrayishBlue: hsl(240, 6%, 50%, 1);
  --Medium-Grey: hsl(216, 12%, 54%);
  --White: #ffffff;

  /*Dividers*/
  --LightGrayishBlue: hsl(240, 5%, 91%, 1);

  /* TYPOGRAPHY */

  --FF-Primary: 'Kumbh Sans', sans-serif;

  --FS-Paragraph: 1.2rem;
  --Copyright: 1.1rem;
  --FS-H1: 3.2rem;

  --LH-H1: 4rem;

  --FW-Regular: 400;
  --FW-Bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--FF-Primary);
  font-size: var(--FS-Paragraph);
  font-weight: var(--FW-Regular);
  font-style: normal;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

@media screen and (max-height: 667px) {
  body {
    align-items: flex-end;
  }
}
